<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coordinatus</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style/index.css">

</head>
<body>
    <header>
        <h1>
            Coordinatus
        </h1>
    </header>
    <main>
        <canvas id="canvas"> </canvas>

        <div id="menu">
            <p>points counter: <span id="points_counter">???</span></p>

            <button id="clear_btn">clear</button>
            <button id="add_random_btn">add random</button>
            <button id="build_join_btn">build convex hull</button>
            <button id="load_btn">load</button>
            <button id="save_btn">save</button>

        </div>

    </main>
    <footer>
    </footer>
    <script src="/static/js/main.js"></script>
</body>
</html>